{
    "tabWidth": 4,
    "useTabs": false,
    "semi": false,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "trailingComma": "none",
    "arrowParens": "avoid",
    "endOfLine": "crlf",
    "printWidth": 70,
    "quoteProps": "consistent"
}
